.main{
    width: 1500px;
    height: 1060px;
    background-color: brown;
}

.text{
    margin: 10px;
    background-color: black;
}

.picture{
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    background-image: url("img/background.jpg");
}