.slide-out {
    height: 250px;
    width: 150px;
    background: none;
    border: 1px dotted white;
    padding: 3px;
    color: white;
}

.handle {
    border: dotted 2px white;
}

.handle:hover {
    cursor: pointer;
    margin: 0 -2px 0 0;

}